/* src/components/Contact.module.css */
.contact {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F8F9FA;
  text-align: center;
}

.divider {
  width: 80px;
  height: 3px;
  background: #007bff;
  margin: 0 auto 2rem;
  border-radius: 6px;
}

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #007BFF;
  text-align: center;
}

input,
textarea {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background: white;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007BFF;
  outline: none;
}

textarea {
  min-height: 150px;
  resize: vertical;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.link {
  color: #343A40;
  font-size: 2rem;
  transition: color 0.3s;
  text-decoration: none;
  margin-bottom: 20px;
}

.link:hover {
  color: #007BFF;
}

@media (min-width: 768px) {
  .links {
    flex-direction: row;
    gap: 2rem;
   
  }
}