.projects {
  padding: 4rem 1.5rem;
  text-align: center;
  background: #f8f9fa;
}
.divider {
  width: 80px;
  height: 3px;
  background: #007bff;
  margin: 0 auto 2rem;
  border-radius: 6px;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  color: #212529;
  text-align: center;
  color: #007bff;
}

.projects p {
  font-size: 1.1rem;
  margin-bottom: 3rem;
  color: #495057;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;

  /* CENTERED GRID FIX */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  max-width: 1100px; /* prevents over-stretching */
  margin-left: auto;
  margin-right: auto;
}


.link {
  text-decoration: none;
  color: inherit;
}

.viewAllContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2x2 for medium+ screens */
  }

  
}


@media (min-width: 1024px) {
  .grid {
    max-width: 1000px;
  }
}
