.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  font-weight: 600;
  margin-right: 10px;
}

/* PRIMARY BUTTON */
.primary {
  background: #007bff;
  color: white;
}

.primary:hover {
  background: #0056b3;
}

/* SECONDARY BUTTON */
.secondary {
  background: transparent;
  color: #768da5;
  border: 2px solid #768da5;
}

.secondary:hover {
  background: #fff;
  color: #007bff;
  border-color: #007bff;
}
